# FastAPI Configuration
PROJECT_NAME="Sravan Kumar Portfolio API"
API_V1_STR="/api"
SECRET_KEY="super_secret_key_for_sravan_kumar_portfolio_1234567890"
ACCESS_TOKEN_EXPIRE_MINUTES=10080  # 7 days

# Database Configuration
# Local Development SQLite
DATABASE_URL="sqlite:///./portfolio.db"
# Production PostgreSQL Example
# DATABASE_URL="postgresql://user:password@host:port/database"

# Initial Admin Credentials (Created on DB seed)
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="SravanAdmin2026!"
